@import url(./vendor/fonts/inter.css);
@import url(./vendor/normalize.scss);

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Выставляем основные настройки по-умолчанию для body */
body {
  background-color: #202020;
  font-family: Inter, serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}