.mainNavigation {
  max-width: 93.75%;
  background-color: #272727;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  &__title {
    font-weight: 400;
    padding-top: 160px;
    text-align: center;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #ffffff;
    max-width: 730px;
    margin: 0 auto 151px;
  }
  &__container {
    display: flex;
    flex-direction: row;
    padding: 0 0 30px 0;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    list-style: none;
    gap: 10px;

  }
  &__link {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #303030;
    width: 96px;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    &:hover {
      opacity: 0.5;
    }
  }
}

@media screen and (max-width: 1200px) {
  .mainNavigation {
    width: 94.79%;
    &__title {
      max-width: 680px;
      font-size: 40px;
      line-height: 52px;
      letter-spacing: -0.04em;
      padding-top: 350px;
      margin-bottom: 314px;
    }
  }
}

@media screen and (max-width: 760px) {
  .mainNavigation {
    width: 91.25%;
    &__title {
      padding-top: 220px;
      font-size: 29px;
      line-height: 37px;
      margin-bottom: 212px;
    }
    &__container {
      padding-bottom: 17px;
      gap: 6px;
      font-size: 10px;
      line-height: 16px;
    }
    &__link {
      padding-top: 5px;
      padding-bottom: 5px;
      width: 82px;
    }
  }
}