.aboutProject {
  max-width: 89.06%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 110px;
  &__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #ffffff;
    margin: 0 0 23px 0;
  }
  &__line {
    background-color: #DADADA;
    border: none;
    height: 1px;
    margin: 0 0 70px 0;
  }
  &__container {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  &__textContainer {
    display: flex;
    flex-direction: column;
    gap: 26px;
    color: #ffffff;
  }
  &__textTitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
  }
  &__textDescription {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  &__progress {
    display: flex;
    flex-direction: row;
    margin-top: 110px;
    width: 100%;
    padding-bottom: 110px;
  }
  &__backendContainer {
    width: 20%;
    text-align: center;

  }
  &__backend {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    background-color: #3DDC84;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  &__frontendContainer {
    width: 80%;
    text-align: center;
  }
  &__frontend {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    background-color: #303030;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  &__text {
    color: #8b8b8b;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .aboutProject {
    max-width: 86.98%;
    padding-top: 90px;
    &__container {
      gap: 30px;
    }
    &__textContainer {
      gap: 22px;
    }
    &__textDescription {
      font-size: 12px;
      line-height: 18px;
    }
    &__progress {
      margin-top: 93px;
      padding-bottom: 90px;
    }
  }
}

@media screen and (max-width: 760px) {
  .aboutProject {
    padding-top: 70px;
    max-width: 88.75%;
    &__title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 28px;
    }
    &__line {
      margin-bottom: 60px;
    }
    &__container {
      flex-direction: column;
      gap: 56px;
    }
    &__textContainer {
      gap: 16px;
    }
    &__textTitle {
      font-size: 18px;
      line-height: 22px;
    }
    &__textDescription {
      font-size: 11px;
      line-height: 16px;
    }
    &__progress {
      margin-top: 60px;
      padding-bottom: 70px;
    }
    &__backendContainer {
      width: 35.21%;
    }
    &__backend {
      height: 35px;
      font-size: 11px;
      line-height: 13px;
    }
    &__text {
      font-size: 11px;
      line-height: 13px;
      margin-top: 10px;
    }
    &__frontendContainer {
      width: 64.79%;
    }
    &__frontend {
      font-size: 11px;
      line-height: 13px;
    }
  }
}