.register {
  max-width: 396px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  &__title {
    font-family: Inter, serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__inputContainer {
    display: flex;
    flex-direction: column;
  }
  &__label {
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #8b8b8b;
    margin-bottom: 5px;
  }
  &__input {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #424242;
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    padding-bottom: 10px;
    &:focus {
      outline: none;
      border-bottom: 1px solid #4285f4;
    }
  }
  &__button {
    width: 396px;
    height: 45px;
    font-family: Inter, serif;
    border: none;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    background-color: #4285f4;
    cursor: pointer;
    margin-top: 130px;
    &:hover {
      opacity: 0.8;
    }
  }
  &__error {
    color: rgba(238, 52, 101, 1);
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    margin-top: 6px;
  }
  &__text {
    text-align: center;
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8b8b8b;
    margin-top: 16px;
  }
  &__link {
    text-decoration: none;
    color: #4285f4;
    font-size: 14px;
    line-height: 17px;
    &:hover {
      opacity: 0.8;
    }
  }
}

@media screen and (max-width: 760px) {
  .register {
    padding-top: 56px;
    max-width: 260px;
    &__logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    &__title {
      margin-top: 50px;
      margin-bottom: 80px;
      text-align: center;
    }
    &__button {
      width: 260px;
      font-size: 12px;
      line-height: 15px;
      margin-top: 200px;
    }
    &__text {
      font-size: 12px;
      line-height: 15px;
      margin-top: 14px;
    }
    &__link {
      font-size: 12px;
      line-height: 15px;
    }
  }
}